export(sample_et_st)
export(stat_dist)
export(sample_intercept)
export(sample_log_scale)
export(sample_log_shape)
export(sample_p)
export(sample_q)
export(sample_ref_std)
export(sample_subj_ref)
export(sample_std_logscale)
import(RcppArmadillo)
importFrom(MASS, mvrnorm)
importFrom(MCMCpack, rdirichlet)
importFrom(MCMCpack, rinvgamma)
importFrom(Rcpp, evalCpp)
useDynLib(WeibullHM)
